.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 20px 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 60px auto; 
  }
  
  .product-details img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 250px;
    max-height: 250px;
    padding: 20px 20px 20px 20px;
    margin: 80px 20px 20px 20px ;
  }
  
  .product-details h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product-details p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .product-details .description {
    overflow-y: auto;
    max-height: 200px;
    padding: 800px 80px 80px 80px;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 200px;
    max-height: 200px;
  }
  
  .product-details button {
    background-color: #f0c14b;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .product-details button:hover {
    background-color: #ffd700;
  }